/*body {*/
/*    background-color: #F5F5F5; !* Replace with your desired color *!*/
/*}*/



/* Main content area width */
.wy-nav-content {
    max-width: 1000px !important;
    width: 100% !important;
    margin: 0 auto !important;
}


.wy-grid-for-nav {
    display: flex !important;
    justify-content: center !important;
}


/* ========================
   Heading Styling
=========================== */
.rst-content h1 {
    font-size: 2em !important;
    color: #57068c !important;         /* NYU Purple */
    text-align: center !important;
    font-weight: bold !important;
    margin-top: 0 !important;          /* Remove space above */
    margin-bottom: 1em !important;   /* Keep tight below */
}

.rst-content h2 {
    font-size: 1.75em !important;
    color: #57068c !important;         /* Deep Purple */
    font-weight: bold !important;
    margin-top: 1em !important;
    margin-bottom: 0.3em !important;
}

.rst-content h3 {
    font-size: 1.5em !important;
    color: #8a51af !important;
    font-weight: bold !important;
    margin-top: 1em !important;
    margin-bottom: 0.3em !important;
}

.rst-content h4 {
   font-size: 1.25em !important;
    color: #7f7f7c !important;
    font-weight: bold !important;
    margin-top: 1em !important;
    margin-bottom: 0.3em !important;
}


.github-link {
  text-decoration: none;
  color: inherit;
  font-size: 0.95em;
}
.github-link i.fab {
  margin-right: 0.3em;
  vertical-align: text-bottom;
}


:root {
  --md-task-list-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1 12C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11S1 18.075 1 12zm16.28-2.72a.75.75 0 0 0-1.06-1.06l-5.97 5.97-2.47-2.47a.75.75 0 0 0-1.06 1.06l3 3a.75.75 0 0 0 1.06 0l6.5-6.5z"/></svg>');
  --md-task-list-icon--checked: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1 12C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11S1 18.075 1 12zm16.28-2.72a.75.75 0 0 0-1.06-1.06l-5.97 5.97-2.47-2.47a.75.75 0 0 0-1.06 1.06l3 3a.75.75 0 0 0 1.06 0l6.5-6.5z"/></svg>');
}

/* style for the unchecked checkboxes */
.task-list-indicator::before {
  -webkit-mask-image: var(--md-task-list-icon);
  mask-image: var(--md-task-list-icon);
  background-color: hsla(232deg, 75%, 90%, 0.12);

  content: "";
  height: 1.25em;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  position: absolute;
  top: .15em;
  width: 1.25em;
}

/* style for the checked checkboxes */
.task-list-control > [type="checkbox"]:checked + .task-list-indicator::before {
  -webkit-mask-image: var(--md-task-list-icon--checked);
  mask-image: var(--md-task-list-icon--checked);
  background-color: hsl(122deg, 84%, 45%);
}